.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Picture {
  border: 4px solid black;
}

.Picture img {
  width: 100%;
}

.PreviewList {
  display: flex;
  flex-wrap: wrap;
}

.PreviewList img {
  width: 100%;
  line-height: 0;
}

.PreviewList__item {
    flex-basis: 50%;
    max-width: 25%;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.PreviewList__item.is-active {
    border-color: black;
}

.PreviewList__item.is-active img {
  opacity: 0.4;
}

.PreviewListStatus {
  text-align: center;
}

.ImageGallery {
  max-width: 500px;
}
